Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/Map_BuiltData.uasset
Content/Maps/Map_BuiltData.uasset